.checkout {
    padding: 0 55px;
    display: flex;
    min-height: 100vh;
}

.shop {
    width: 65%;
    padding: 50px 65px 50px 0;
}

.shophead {
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cshop {
    margin: 50px 0 20px;
}

.tablep {
    display: flex;
    gap: 50px;
    margin-top: -10px;
}

.table img {
    width: 90px;
    height: 120px;
}

.table .rate {
    font-size: 15px;
    font-weight: 600;
    color: rgb(143, 44, 44);
}

.table .qty {
    display: flex;
    margin-top: -70px;
    gap: 10px;
}

.qty button {
    background-color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.qty .num {
    border: 1px solid #000;
    padding: 3px 7px;
}

.price {
    margin-top: -70px;
    font-size: 15px;
    font-weight: 600;
}


/* summary css */

.summary {
    background-color: rgb(250, 240, 240);
    padding: 50px 40px;
    width: 35%;
}

.summaryhead {
    padding-bottom: 25px;
}

.order {
    padding-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo {
    padding: 20px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    font-weight: 600;
}

input {
    outline: none;
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
}

.summary .btn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1050px) {
    .checkout {
        padding: 0 20px;
    }

    .shop {
        padding: 40px 30px 40px 0;
    }

    .shophead {
        padding-bottom: 15px;
    }

    .shophead h2 {
        font-size: 20px;
    }

    .shophead h3 {
        font-size: 17px;
    }

    .summary {
        padding: 40px 20px;
    }

    .summaryhead {
        padding-bottom: 15px;
    }

    .summaryhead h2 {
        font-size: 20px;
    }

    .promo {
        padding: 20px 0 30px;
    }

    .order h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .shop {
        padding: 40px 10px 40px 0;
    }

    .summary {
        padding: 40px 10px;
    }
}

@media screen and (max-width: 730px) {
    .checkout {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .shop {
        width: auto;
        padding: 40px 20px;
    }

    .summary {
        width: auto;
        padding: 40px 20px;
    }
}

@media screen and (max-width: 500px) {
    .shop {
        padding: 40px 10px;
    }

    .summary {
        padding: 40px 10px;
    }
}
  







